.slider {
    position: relative;
    width: 100%;
    /* center all horizontally */
    margin: auto;
    /* if image is too big */
    overflow: hidden;
}

.slider img {
    width: 40%;
    /* dont show all the images */
    display: none; 
} 

img.displaySlide {
    display: block;
    /* use the animation */
    animation-name: fade;
    animation-duration: 1.5s;
}

.slider button{
    position: absolute;
    /* place buttons at the top y axis which is the at middle of the images */
    top: 50%;
    /* move buttons up by 50% */
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
    background-color: hsla(0, 0%, 0%, 0.5);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

/* align buttons to the left and right */
.previous {
    left: 0;
}

.next {
    right: 60%;
}

/* add animation */
/* when a new image is displayed, the opacity will be 
50% transparent then after animation set it to 1 for 100%
*/
@keyframes fade {
    from {opacity: .5%} to {opacity: 1}

}