/* Rock Paper Scissors */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3.5rem;
    color: hsl(0, 0%, 20%);
}

.choices {
    margin-bottom: 30px;
}

.choices button{
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 10;
    border-radius: 250px;
    background-color: hsl(200, 100%, 50%);
    /* when hovering on the button
    change to pointer and make color lighter with slow changing color effect*/
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.choices button:hover {
    background-color: hsl(200, 100%, 70%);
}

#playerDisplay, #computerDisplay {
    font-size: 2.5rem;
}

#resultDisplay {
    font-size: 5rem;
    margin: 30px 0;
}

.scoreDisplay {
    font-size: 2rem;
/* align buttons to the left and right */
}

.previous {
    left: 0;
}

.greenText, #playerScoreDisplay {
    color: hsl(130, 84%, 54%);
}

.next {
    right: 60%;
}

.redText, #computerScoreDisplay{
    color: hsl(0, 84%, 60%);
    /* add animation */
    /* when a new image is displayed, the opacity will be 
    50% transparent then after animation set it to 1 for 100%
    */
}
@keyframes fade {
    from {opacity: .5%} to {opacity: 1}
}